* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
  font-family: 'ALSSectorRegular', sans-serif;
  background-color: inherit;
  margin: 0;
  padding: 0;
}